@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #b5179e;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .container{
    background: pink;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .frontpage-container{
    background-color: #FFF;
    width: 25vw;
    height: 90vh;
    padding: 30px;
    padding-top:10px;
    
    border-radius:30px;
    
}
.frontpageform-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frontpage-title{
    color: #b5179e;
    text-align: center;
    margin-top: 0;
  }
  .frontpage-form{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .frontpageform--input{
    padding: 10px;
    border-radius:20px;
    border: 0.5px solid gainsboro;
    font-size: 20px;
  }
  .frontpageform--submit{
    /* margin-top: 50px; */
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #ab1dcf, #f80759);
    box-shadow: rgba(0, 0, 0, 0.3)0px 19px 38px;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
  }

.frontpageform--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.frontpageform--marketing > input {
    margin-right: 10px;
}