@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #b5179e;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .container{
    background: pink;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .app-wrapper{
    background-color: #FFF;
    min-width: 25vw;
      height: 95vh;
    padding: 30px;
    padding-top:10px;
    /* box-sizing: border-box; */
    border-radius:30px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.app-wrapper::-webkit-scrollbar {
	display: none;
}
  .title{
    color: #b5179e;
    text-align: center;
    margin-top: 0;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  input{
    padding: 10px;
    border-radius:20px;
    border: 0.5px solid gainsboro;
  }
.name,
.email,
.phone,
.password{
  color: #969292;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.password{
  margin-bottom: 40px;
}
.input{
  /* height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none ;
  border-left-style: none ;
  border-right-style: none ;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px; */
}
.error{
  color: red;
}
.submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #ab1dcf, #f80759);
  box-shadow: rgba(0, 0, 0, 0.3)0px 19px 38px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active{
  transform: translateY(2px);
}